<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AdmMapper">
	
	<select id="select" parameterType="String" resultType="Adm">
		SELECT * FROM adm WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="Adm">
		SELECT * FROM adm
	</select>
	<insert id="insert" parameterType="Adm">
		INSERT INTO adm VALUES (#{id},#{pwd},#{lev})
	</insert>
	<update id="update" parameterType="Adm">
		UPDATE adm SET lev=#{lev},pwd=#{pwd} WHERE ID=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM marker WHERE ID=#{id}
	</delete>
</mapper>