<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CustMapper">
	
	<select id="select" parameterType="String" resultType="Cust">
		SELECT * FROM CUST WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="Cust">
		SELECT * FROM CUST
	</select>
	<insert id="insert" parameterType="Cust">
		INSERT INTO CUST VALUES (#{id},#{pwd},#{name})
	</insert>
	<update id="update" parameterType="Cust">
		UPDATE CUST SET NAME=#{name},PWD=#{PWD} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM CUST WHERE ID=#{id}
	</delete>
	
</mapper>