<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.MarkerMapper">
	
	<select id="select" parameterType="Integer" resultType="Marker">
		SELECT * FROM marker WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="Marker">
		SELECT * FROM marker
	</select>
	<insert id="insert" parameterType="Marker">
		INSERT INTO marker VALUES (#{id},#{title},#{target},#{lat},#{lng},#{img},#{loc})
	</insert>
	<update id="update" parameterType="Marker">
		UPDATE marker SET title=#{title},target=#{target} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM marker WHERE ID=#{id}
	</delete>
	
</mapper>